body {
    background-color: lightslategray;
}

#game-title {
    color: black;
}

nav{
    color: dimgrey;
}

* {
    text-align: center
}

#tic-tac-toe{
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
}

td {
    border: 1px solid;
    border-top: none;
    border-left: none;
}